* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background:#FCF8E8;
    color: #DF7861;
}

section {
    width: 100%;
    height: 100vh;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 3.5rem;
    background:#D4E2D4;
}

.navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.navbar ul li {
    margin: 0 2rem;
    padding: 1rem;
}

.navbar ul li a {
    font-size: 1em;
    text-decoration: none;
    color: white;
    transition: 0.25s;
}

.navbar ul li a:hover {
    color: #DF7861;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}

#home h1 {
    font-size: 4rem;
}

#arrow {
    position: relative;
    top: 0;
    border: solid #DF7861;
    border-width: 0 .6rem .6rem 0;
    display: inline-block;
    padding: .6rem;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: 1s;
}

#arrow:hover {
    top: .6rem;
    border: solid #ECB390;
    border-width: 0 .6rem .6rem 0;
    display: inline-block;
    padding: .6rem;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#about {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#pictureContainer {
    display: flex;
    background-color: #D4E2D4;
    overflow: hidden;
    z-index: -1;
    height: 20em;
    width: 20em;
    border-radius: 50%;
    margin-top: 5em;
}

#picture {
    object-fit: cover;
    margin: auto;
    border-radius: 50%;
    height: 18em;
    width: 18em;
}

#about h1 {
    font-size: 5em;
    margin-left: .85em;
}

#aboutMeList {
    font-size: 1.5em;
    line-height: 1.5;
}

#aboutMeList li {
    padding: 1.5rem;
}

.column {
    flex: 1;
    justify-self: center;
    align-self: center;
}

#rightColumn {
    border: .5em solid #DF7861;
    border-color: #DF7861;
    border-radius: 0 15% 15% 0;
    border-left: none;
}

#projects {
    display: grid;
    justify-content: center;
    align-self: center;
    text-align: center;
}

#projects h1 {
    font-size: 4em;
    align-self: end;
    margin-bottom: .5em;
}
/*
yellow - ffc857
blueish - 407076
orangish - f26430

Bahnschrift Light
Candara
Consolas
Corbel
Leelawadee UI
Nirmala UI
Trebuchet MS