* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background:#FCF8E8;
    color: #DF7861;
}

section {
    display: flex;
    width: 100%;
    height: 100vh;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 3.5rem;
    background:#D4E2D4;
}

.navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.navbar ul li {
    margin: 0 2rem;
    padding: 1rem;
}

.navbar ul li a {
    font-size: 1em;
    text-decoration: none;
    color: white;
    transition: 0.25s;
}

.navbar ul li a:hover {
    color: #DF7861;
}

.code {
    color: #D4E2D4;
}

#arrow {
    position: relative;
    top: 0;
    border: solid #DF7861;
    border-width: 0 .6rem .6rem 0;
    display: inline-block;
    padding: .6rem;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: 1s;
}

#arrow:hover {
    top: .6rem;
    border: solid #ECB390;
    border-width: 0 .6rem .6rem 0;
    display: inline-block;
    padding: .6rem;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}

section h1 {
    font-size: 4rem;
}

section p {
    font-size: 1.5rem;
}

#pictureContainer {
    display: flex;
    position: relative;
    background-color: #ECB390;
    overflow: hidden;
    z-index: -1;
    height: 15em;
    width: 15em;
    border-radius: 50%;
    margin: 7.5em;
}

#picture {
    object-fit: cover;
    margin: auto;
    border-radius: 50%;
    height: 14em;
    width: 14em;
}

#about h1 {
    position: relative;
    padding-left: .5em;
    top: -1.5em;
    font-size: 5em;
}

#aboutMeList {
    position: relative;
    top: 5em;
    font-size: 1.5em;
    padding-right: .5em;
    line-height: 1.5;
}

#aboutMeList li {
    padding: 1.5rem;
}

.column {
    flex: 1;
}

#leftColumn {
    
}

/*
yellow - ffc857
blueish - 407076
orangish - f26430

Bahnschrift Light
Candara
Consolas
Corbel
Leelawadee UI
Nirmala UI
Trebuchet MS